<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('../../layouts/head.ejs') %>
        <link rel="stylesheet" href="/css/styles/feed/feed.css">
        <title><%= user.username %> - Perfil</title>
</head>

<body>
    <div id="container">
        <header class="header_feed">
            <%- include('../../layouts/feed/header.ejs') %>
        </header>
        <main class="main_feed">
            <div class="card_profile">
                <div class="img_profile">
                    <div class="img_circle">
                        <img src="/img/avatar.gif" alt="">
                    </div>
                </div>
                <div class="info_profile">
                    <h2><%= user.username %></h2>
                    <p><%= user.email %></p>
                    <span><a href="/feed/logout">Sair</a></span>
                </div>
            </div>
        </main>
    </div>

</body>
</html>